polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.policykit.exec" &&
        (action.lookup("program") == "/usr/lib/steamos/steam-set-session" ||
         action.lookup("program") == "/usr/bin/systemctl") &&
        subject.user == "grimish") {
        return polkit.Result.YES;
    }
});
